{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <ul>
    <li><a href="{{ request.route_url('list_users') }}">List Registered Users</a></li>
    <li><a href="{{ request.route_url('register_user') }}">Register a new User</a></li>
  </ul>
</div>

{% endblock content %}
