{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
	<form accept-charset="utf-8">
		<input type="text" name="username" placeholder="Create a new user" />	
		<input type="submit" name="submit-user">
	</form>

	{% if success %}
		{{ username }} added
	{% endif %}

	<br>
	
	{% for user in users %}
		{{ user }} - 
	{% endfor %}
</div>

{% endblock content %}
