{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <form accept-charset="utf-8" method="POST">
    <input type="text" name="username" placeholder="Create new user" />
    <input type="submit" name="submit-user">
  </form>

  {% if success %}
    {{ username }} added
  {% endif %}

  <br>

  {% for user in users %}
    <dl>
      <dt>Name:</dt>
      <dd>{{ user.name }}</dd>
      <dt>Username:</dt>
      <dd>{{ user.username }}</dd>
      <dt>Password:</dt>
      <dd>{{ user.password }}</dd>
    </dl>
  {% endfor %}
</div>
{% endblock content %}
