{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <form accept-charset="utf-8" method="POST" action="{{ request.current_route_url() }}">
    <input type="text" name="steam_username" placeholder="Steam UserName" value="{% if username %}{{ username }}{% endif %}"/>
    <input type="submit" name="generate stats">
  </form>

{% if player %}
<img src="{{ player.avatar_full }}"><br>
Hello, <strong>{{ player.real_name }}</strong> (A.K.A {{ player }}), your steam level is {{ player.level }} and you've been recently played these games:
<ul>
  {% for game in player.recently_played %}
    <li>{{ game }}</li>
  {% endfor %}
</ul>
Your Owned Games are:
<ul>
  {% for og in player.owned_games %}
    <li>{{ og }}</li>
  {% endfor %}
</ul>
{% endif %}

{% if results %}
  <ul>
    {% for result in results %}
      <li>{{ result.name }} - {{ result.data }}</li>
    {% endfor %}
  </ul>
{% else %}
No user data
{% endif %}

</div>
{% endblock content %}
