{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <form accept-charset="utf-8" method="POST" action="{{ request.current_route_url() }}">
    <input type="text" name="name" placeholder="Name" />
    <input type="text" name="username" placeholder="Username" />
    <input type="text" name="email" placeholder="Email" />
    <input type="password" name="password" placeholder="Password" />
    <input type="text" name="locale" placeholder="Locale" />
    <input type="submit" name="register">
  </form>
</div>
{% endblock content %}
