{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
    Add player:<br>
    <form id="new_player">
        <input class="user_type" type="radio" name="user_type" value="user" checked> expanse User<br>
        <input class="user_type" type="radio" name="user_type" value="not_user"> Not user<br>

        <select id='expanse_users' name="expanse_users">
            {% for user in users %}
                <option value="{{user._id}}">{{ user.name }}</option>
            {% endfor %}
        </select>

        <br>

        <input id="player_name" type="text" name="ne-user" placeholder="Player Name" disabled=""><br>
        <input type="submit" name="submit" value="Adicionar">

    </form>

    <hr>
    <h3> Players in this team: </h3>
</div>

<script type="text/javascript">
    $('#new_player input').on('change', function() {
        var checked = $('input[name=user_type]:checked', '#new_player').val();
        if (checked == "not_user"){
            $("#expanse_users").prop('disabled', 'disabled');
            $("#player_name").prop('disabled', false);
        }else{
            $("#expanse_users").prop('disabled', false);
            $("#player_name").prop('disabled', 'disabled');
        }
    });
</script>

{% endblock content %}
