{% extends "layout.jinja2" %}

{% block content %}

{% if errors %}
  {{ errors }}
{% endif %}

<div class="content">
  <form name="add_team" accept-charset="utf-8" method="POST" action="{{ request.current_route_url() }}">
    <select name="team">
        {% for team in teams %}
            <option value="{{team._id}}">{{team.name}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Add">
  </form>


  <h3>Teams in this Tournament:</h3>

  {% for team in tournament_teams %}
  	{{ team.name }} <br>
  {% endfor %}

  <form name="generate_schedule" method="POST">
    <input type="submit" name="btn_generate" value="Generate Schedule">
  </form>

  <h3>Schedule</h3>
  {% for phase in tournament_phases %}
    {% for round in phase.schedule %}
      <h4>Round {{ loop.index }}</h4>
      <ul>
        {% for match in round %}
          <li><a href="{{ request.route_url('dashboard_match', match_id=match.id) }}">{{ match.team1 }} X {{ match.team2 }}</a> {% if match.score[0] %} -- {{ match.score[0] }} x {{ match.score[1] }} {% endif %}</li>
        {% endfor %}
      </ul>
    {% endfor %}
  {% endfor %}

</div>
{% endblock content %}
