{% extends "layout.jinja2" %}

{% block content %}

{% if errors %}
  {{ errors }}
{% endif %}

<div class="content">
  <form accept-charset="utf-8" method="POST" action="{{ request.current_route_url() }}">
    <select name="team">
        {% for team in teams %}
            <option value="{{team._id}}">{{team.name}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Add">
  </form>


  <h3>Teams in this Tournament:</h3>

  {% for team in tournament_teams %}
  	{{ team.name }} <br>
  {% endfor %}

  <h3>Schedule</h3>
  {% for phase in tournament_phases %}
    {% for round in phase.schedule %}
      <h4>Round {{ loop.index }}</h4>
      <ul>
        {% for match in round %}
          <li>{{ match.team1 }} X {{ match.team2 }}</li>
        {% endfor %}
      </ul>
    {% endfor %}
  {% endfor %}

</div>
{% endblock content %}
